.grid-container {
  background:#fafafa;
  padding: 9px;
}

.grid {
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  border:1px solid #e6e6e6;
  border-bottom-width: 2px;
  font-size: 12px;
}
.grid-row {
  border-top:1px solid #e6e6e6;
}

.grid-column { 
  padding:7px 9px;
  display:inline-grid;
}

span.grid-column{
  background: white;
  border-top:1px solid #e6e6e6;
}

.header-column {
  position: relative;
  border-bottom: 1px solid #e6e6e6;
}
.header-column:not(:last-of-type):after {
  content: "";
  background: #e6e6e6;
  position: absolute;
  bottom: 4px;
  right: 0;
  top:4px;
  width: 1px;
}

.grid-footer{
  padding:7px 9px 0 9px;
  text-align: right;
}

.green {
  color:green;
}

.red {
  color:red;
}